body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

nav {
  line-height: 200%;
}

p {
  font-size: 14px;
}

.header {
  background: url(../media/the-flatiron-building.png) center;
}

#bottom {
  background: url(../media/the-flatiron-building.png) center;
  font-size: 23px;
  color: white;
}

a {
  color: white;
  font-size: 18px;
}

.header-nav {
  font-weight: bold;
}

footer {
  background-color: dimgray;
  text-align: left;
  font-size: 11px;
  color: white;
}
